// Table of Contents

// 1.0 Settings
// 2.0 Tools
//  2.1 Heathchecks

////////////////////////////////////////////////////////////////////////////////
// 1.0 Settings
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// 2.0 Tools
////////////////////////////////////////////////////////////////////////////////

// 2.1 Heathchecks
//scss-lint:disable ColorKeyword ColorVariable
//Outline all classes.
// [class] {
//   outline: 5px solid lightgrey;
// }
//
// //Outline all BEM Elements.
// [class*="__"] {
//   outline: 5px solid grey;
// }
//
// // Outline all BEM Modifiers.
// [class*="--"] {
//   outline: 5px solid darkgrey;
// }
//
// // Outline all Object classes.
// [class^="cw-o-"],
// [class*=" cw-o-"] {
//   outline: 5px solid orange;
// }
//
// //Outline all Component classes.
// [class^="cw-c-"],
// [class*=" cw-c-"] {
//   outline: 5px solid cyan;
// }
//
// //Outline all Responsive classes.
// [class*="@"] {
//   outline: 5px solid rosybrown;
// }
//
// //Outline all Hack classes.
// [class^="_"] {
//   outline: 5px solid red;
// }
//scss-lint:Enable ColorKeyword ColorVariable

////////////////////////////////////////////////////////////////////////////////
// Generic
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// Elements
////////////////////////////////////////////////////////////////////////////////
// .cw-e-object {}

////////////////////////////////////////////////////////////////////////////////
// Objects
////////////////////////////////////////////////////////////////////////////////
// .cw-o-object {}

////////////////////////////////////////////////////////////////////////////////
// Component
////////////////////////////////////////////////////////////////////////////////
// .cw-c-component {}
//Widget
.cw-c-widget {
  display: flex;
  flex-wrap: wrap;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  * {
    box-sizing: border-box;
  }
}

.cw-c-widget__y-axis-label {
  border-right: 1px solid black;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.cw-c-widget__y-axis-tick {
  padding-left: .5rem;
  padding-right: .5rem;
}

.cw-c-widget__graph-area {
  flex: 1 1 0%;
}

//Graph
.cw-c-graph {
  position: relative;
  width: 100%;
  height: 500px;
}

.cw-c-graph__bar {
  display: inline-block;
  position: relative;
  width: 1rem;
  background-color: red;
  height: 100%;
  bottom: 0;

  + .cw-c-graph__bar {
    margin-left: .5rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Trumps
////////////////////////////////////////////////////////////////////////////////
// .cw-t-dark {
//
// }
