//scss-lint:disable SelectorFormat
// Table of Contents

// 1.0 Settings
// 2.0 Tools
//  2.1 Heathchecks

////////////////////////////////////////////////////////////////////////////////
// 1.0 Settings
////////////////////////////////////////////////////////////////////////////////
$graph-height: 300px;
$x-axis-label-height: 45px;
$default-background-color: white;
$default-foreground-color: black;
////////////////////////////////////////////////////////////////////////////////
// 2.0 Tools
////////////////////////////////////////////////////////////////////////////////

// 2.1 Heathchecks
//scss-lint:disable ColorKeyword ColorVariable
//Outline all classes.
// [class] {
//   outline: 5px solid lightgrey;
// }
//
// //Outline all BEM Elements.
// [class*="__"] {
//   outline: 5px solid grey;
// }
//
// // Outline all BEM Modifiers.
// [class*="--"] {
//   outline: 5px solid darkgrey;
// }
//
// // Outline all Object classes.
// [class^="cw-o-"],
// [class*=" cw-o-"] {
//   outline: 5px solid orange;
// }
//
// //Outline all Component classes.
// [class^="cw-c-"],
// [class*=" cw-c-"] {
//   outline: 5px solid cyan;
// }
//
// //Outline all Responsive classes.
// [class*="@"] {
//   outline: 5px solid rosybrown;
// }
//
// //Outline all Hack classes.
// [class^="_"] {
//   outline: 5px solid red;
// }
//scss-lint:Enable ColorKeyword ColorVariable

////////////////////////////////////////////////////////////////////////////////
// Generic
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// Elements
////////////////////////////////////////////////////////////////////////////////
// .cw-e-object {}

////////////////////////////////////////////////////////////////////////////////
// Objects
////////////////////////////////////////////////////////////////////////////////
// .cw-o-object {}

////////////////////////////////////////////////////////////////////////////////
// Component
////////////////////////////////////////////////////////////////////////////////
// .cw-c-component {}
//Widget
.cw-c-widget {
  background-color: $default-background-color;
  color: $default-foreground-color;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  * {
    box-sizing: border-box;
  }
}

.cw-c-widget__y-axis-label {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: $x-axis-label-height;
}

.cw-c-widget__y-axis-tick {
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: right;
}

.cw-c-widget__graph-area {
  flex: 1 1 0%;
  overflow-x: scroll;
  height: $graph-height + $x-axis-label-height;
}

//Graph
.cw-c-graph {
  height: $graph-height;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.cw-c-graph__bar {
  background-color: currentColor;
  bottom: 0;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 1rem;
  border-radius: .25rem .25rem 0 0;

  &::before {
    content: attr(data-x-axis-tick-value);
    display: block;
    left: 50%;
    position: absolute;
    top: 100%;
    transform-origin: top left;
    transform: rotate(45deg);
    font-size: 80%;
  }

  + .cw-c-graph__bar {
    margin-left: .25rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Trumps
////////////////////////////////////////////////////////////////////////////////
// .cw-t-dark {
//
// }
